# mongodb connection properties
mongodb.host=localhost
mongodb.port=27017
mongodb.db=BIS_mongo_eval
mongodb.collection.measurings=measurings
mongodb.collection.stations=stations
mongodb.buffersize=20000

# dataset properties

# location where the raw data is stored
data.path=data/380K.csv

# data identifiers

# long identifiers
data.timestamp=timestamp
data.value=value
data.stationid=stationID
data.partid=partID
data.wrid=wrID
data.datatype=datatype
data.optstring=opt_string
data.stringid=stringID

# short identifiers
#data.timestamp=a
#data.value=b
#data.stationid=c
#data.partid=d
#data.wrid=e
#data.datatype=f
#data.optstring=g
#data.stringid=h

# evaluation properties

# complete runs including import and benchmarks
eval.globalruns=2
# number of randomized runs for each benchmark
eval.localruns=10
# number of days for range queries
eval.days=2

